.footer{
    align-items: center;
    background-color: #000000;
    border: 1px solid #2A7AE4;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
}
.footer__img{
    padding: 0 0 2rem;
}